<div class="column is-4">
  <div class="card">
    <div class="card-content">
      <p class="subtitle">
        {{ include.title }}
        <span class="tag is-primary is-pulled-right">{{ include.tag }}</span>
      </p>
      <p>{{ include.content }}</p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span><a href="{{ include.href1 }}">{{ include.link1 }}</a></span>
      </p>
      <p class="card-footer-item">
        <span><a href="{{ include.href2 }}">{{ include.link2 }}</a></span>
      </p>
    </footer>
  </div>
</div>