<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://ethiopicist.com">
            <img src="/assets/images/logo.png" alt="logo" style="max-height: 50px;">
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/ethiopicist/"><span class="icon"><i class="fa fa-github"></i></span></a>
            <a class="navbar-item" href="https://www.facebook.com/ethiopicist/" target="_blank"><span class="icon"><i class="fa fa-facebook-f"></i></span></a>
            <a class="navbar-item" href="https://twitter.com/ethiopicist" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        <img src="/assets/images/icon.png"  style="max-height: 35px;"> // Developer
      </h1>
      <h2 class="subtitle is-3">
        Resources for digitally-minded Ethiopicists.
      </h2>
    </div>
  </div>
</section>