<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ content }}">
    <title>Ethiopicist // Developer</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://ethiopicist.com">
                <img src="/assets/images/logo.png" alt="logo">
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end is-flex-touch">
                <a class="navbar-item is-hidden-touch" href="https://github.com/ethiopicist/"><span class="icon"><i class="fa fa-github"></i></span></a>
                <a class="navbar-item is-hidden-touch" href="https://www.facebook.com/ethiopicist/" target="_blank"><span class="icon"><i class="fa fa-facebook-f"></i></span></a>
                <a class="navbar-item is-hidden-touch" href="https://twitter.com/ethiopicist" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <img src="/assets/images/icon.png"> // Developer
          </h1>
          <h2 class="subtitle">
            Resources for digitally-minded Ethiopicists.
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          
          {% for post in site.posts %}
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <p class="subtitle">
                  {{ post.title }}
                </p>
                <p>{{ post.excerpt }}</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="{{ post.url }}">Read More</a></span>
                </p>
              </footer>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>