<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resources for digitally-minded Ethiopicists.">
    <title>Ethiopicist // Developer</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {% include header.html %}

    <section class="section">
      <div class="container">
        <h1 class="title">Projects from Ethiopicist.com:</h1>

        <div class="columns is-multiline">
          
          {% for project in site.ethiopicist %}
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <h2 class="subtitle is-4">{{ project.title }}</h2>
                {{ project.content }}
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="{{ project.link1url }}">{{ project.link1}}</a></span>
                </p>
                <p class="card-footer-item">
                  <span><a href="{{ project.link2url }}">{{ project.link2}}</a></span>
                </p>
              </footer>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">Other Projects:</h1>
        
        <div class="columns is-multiline">
          
          {% for project in site.projects %}
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <h2 class="subtitle is-4">{{ project.title }}</h2>
                {{ project.content }}
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="{{ project.link1url }}">{{ project.link1}}</a></span>
                </p>
                <p class="card-footer-item">
                  <span><a href="{{ project.link2url }}">{{ project.link2}}</a></span>
                </p>
              </footer>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

    <section class="section lead">
      <div class="container">
        <p>Have a project to add? <a href="https://github.com/ethiopicist/ethiopicist.github.io#readme">Make a Pull Request</a> to add it!</p>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>