<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Digital Ethiopicists mailing list.">
    <title>{{ page.title }} | Ethiopicist // Developer</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/scripts/scripts-min.js"></script>
  </head>
  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <span class="icon is-small is-left"><i class="fa fa-chevron-left"></i></span>
                <span>back</span>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <img src="/assets/images/icon.png"> // Developer Mailing List
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="content has-text-centered">{{ content }}</div>
        <form id="subscribe">
          <div class="columns">
            <div class="column"></div>
            <div class="column field has-addons">
              <p class="control has-icons-left is-expanded">
                <input id="address" class="input" type="email" placeholder="Email Address" name="address">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
              </p>
              <p class="control">
                <input class="button is-danger" type="submit" value="Unsubscribe">
              </p>
            </div>
            <div class="column"></div>
          </div>
        </form>
      </div>
    </section>

    <script>
      $("#subscribe").submit(function(e) {
        var form = $(this);
        var address = $('#address').val();

        $.ajax({
              type: "GET",
              url: 'https://wulzbtezrb.execute-api.us-east-1.amazonaws.com/latest/unsubscribe',
              data: {"address": address},
              success: function(data){
                alert(data.message);
              }
            });

        e.preventDefault();
      });
    </script>

    {% include footer.html %}
  </body>
</html>